extends layout

block content
    h1= title

    p
        |  Actors DB that use&nbsp;
        a(href='http://www.neo4j.org/', target='_blank') Neo4j
        |  from Node.js. 
        .

    p.
        This allow you add and remove actor & movies, also let you
        search the bacon range between two of them.

    p
        strong
            | Get started:&nbsp;
            a(href='/actors') View all actors
    p
        strong
            | Get started:&nbsp;
            a(href='/movies') View all movies
